.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 3rem;
    height: 3rem;
  }
}

.label {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;

  & > * {
    color: gray;
  }
}
