@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

.container-loading {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-content: space-around;

  & .header-container {
    flex: 1;
    display: grid;
    justify-items: center;

    .logo,
    svg {
      width: 12rem;
      height: 12rem;
    }

    .text-loading {
      margin-top: 1rem;

      .icon-loading {
        margin-right: 0.3rem;
      }
    }
  }

  & .body-container {
    flex: 2;

    & > * {
      font-family: 'Matemasie', sans-serif !important;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(1rem, 0.3rem + 3vw, 2rem);
    }
  }
}
